<h1 class="title">Welcome to BillingSystem</h1>

<div class="container">

	<p class="tag-style"><%=link_to "bills", bills_path(@bills)%></p>


	<p class="tag-style"><%=link_to "clients", clients_path(@clietns)%></p>


	

</div>


